html, body{
	padding: 0;
	margin: 0;
	font-family: 'Playfair Display', serif;	
}

/*.container{
	overflow-y: hidden;
	padding: 20px;
}*/

.table{
	width: 500px;
	margin: 0 auto;
	/*margin-top: 10%; */
}

.row{
	width: 100%;
	overflow: auto;
	display: block;
}

.cell{
	width: 53px;
	height: 53px;
	border: 1px solid white;
	float: left; 
	display: inline-block;
	padding: 0;
	background: black;
	text-align: center;
	line-height: 53px;
	font-size: 30px;
}

.cell span {
	display: none;
}

.cell.visible {
	background: none;
}

.cell.visible span{
	display: block;
}

.cell.flag{
	background: red;
}

.flagBox{
	color: red;
	font-size: 20px;
	margin-left: 5%;
}

.utilityBox {
	width: 30%;
	height: 10vh;
	margin: 5% 40%;
	padding-right: : 2%;
	padding-left: : 2%;
}

.minBox{
	margin-left: 11%;
}
.secDecBox{
	margin-left: 11%;
}

.minBox, .secDecBox, .flagBox{
	width: auto;
	height: auto;
	float: left;
	text-align: center;
	font-size: 50px;	
}










